<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Coffee cup</title>

    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="app.js" ></script>

  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <span class="s1">coffeetrakr</span>pro
        <div class="back"><a href="#">&larr; back</a></div>
      </div>
      <div id="userList" class="column">
        <h1>Who are you?</h1>
        <div></div>
      </div>
      <div id="coffeeList" class="column">
        <h1><span></span>, what are you drinking?</h1>
        <div></div>
      </div>
    </div>
  </body>
</html>
