body {
  font-family: 'Helvetica';
}

#wrapper {
  width: 50%;
  margin: 0 auto;
}

.coffee-cell {
  width: 20px;
  height: 20px;
}
.coffee-cell a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 40px;
}
