body {
  font-family: 'Helvetica';
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

.column {
  width: 49%;
  float: left;
}

.cell {
  display: block;
  float: left;
  margin: 20px;
  width: 130px;
  height: 50px;
  text-align: center;
  border: 5px solid black;
}

.cell.selected {
  border: 5px solid red;
}

.coffee-cell a {
  margin: 0 0 0 30px;
  padding-top: 10px;
  width: 100px;
  height: 40px;
  display: block;
  background: white;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

.cell a:hover {
  text-shadow: 0 0 5px #000
}

.user-cell {
  background: black;
  width: 150px;
  height: 100px;
}
